In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter 
import seaborn as sns
from numpy import exp 
import warnings
warnings.filterwarnings("ignore")

In [2]:
train=pd.read_csv("D:\intern\TR1.csv")

In [3]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
train['Gender'].fillna(train['Gender'].mode()[0],inplace=True)
train['Married'].fillna(train['Married'].mode()[0],inplace=True)
train['Dependents'].fillna(train['Dependents'].mode()[0],inplace=True)
train['Self_Employed'].fillna(train['Self_Employed'].mode()[0],inplace=True)
train['Credit_History'].fillna(train['Credit_History'].mode()[0],inplace=True)

In [5]:
train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mode()[0],inplace=True)
train['LoanAmount'].fillna(train['LoanAmount'].median(),inplace=True)

In [6]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [7]:
train['Dependents'].replace('3+',3,inplace=True)
train['Loan_Status'].replace('Y',1,inplace=True)
train['Loan_Status'].replace('N',0,inplace=True)
train['Gender'].replace('Male',1,inplace=True)
train['Gender'].replace('Female',0,inplace=True)
train['Married'].replace('Yes',1,inplace=True)
train['Married'].replace('No',0,inplace=True)
train['Education'].replace('Graduate',1,inplace=True)
train['Education'].replace('Not Graduate',0,inplace=True)
train['Self_Employed'].replace('Yes',1,inplace=True)
train['Self_Employed'].replace('No',0,inplace=True)
train['Property_Area'].replace('Rural',0,inplace=True)
train['Property_Area'].replace('Urban',1,inplace=True)
train['Property_Area'].replace('Semiurban',2,inplace=True)

In [8]:
train.agg(['skew', 'kurtosis']).transpose()

                       skew   kurtosis
Gender            -1.648795   0.720863
Married           -0.644850  -1.589356
Dependents         1.015551  -0.347376
Education         -1.367622  -0.130044
Self_Employed      2.159796   2.673417
ApplicantIncome    6.539513  60.540676
CoapplicantIncome  7.491531  84.956384
LoanAmount         2.743053  10.936695
Loan_Amount_Term  -2.402112   6.924993
Credit_History    -2.021971   2.095179
Property_Area     -0.162812  -1.476941
Loan_Status       -0.809998  -1.348306

In [9]:
train['LoanAmount_log']=np.log(train['LoanAmount'])

In [10]:
train.agg(['skew', 'kurtosis']).transpose()

                       skew   kurtosis
Gender            -1.648795   0.720863
Married           -0.644850  -1.589356
Dependents         1.015551  -0.347376
Education         -1.367622  -0.130044
Self_Employed      2.159796   2.673417
ApplicantIncome    6.539513  60.540676
CoapplicantIncome  7.491531  84.956384
LoanAmount         2.743053  10.936695
Loan_Amount_Term  -2.402112   6.924993
Credit_History    -2.021971   2.095179
Property_Area     -0.162812  -1.476941
Loan_Status       -0.809998  -1.348306
LoanAmount_log    -0.195355   2.818819

In [11]:
train=train.drop('LoanAmount_log',axis=1)

In [12]:
train=train.drop(['Loan_ID'],axis=1)

In [13]:
X=train
X=X.drop('Loan_Status',1)
y=train.Loan_Status

In [14]:
y=train.Loan_Status

In [15]:
y.isnull().sum()

0

In [16]:
X.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [17]:
feature_names = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import StratifiedKFold
accuracy=[]
skf= StratifiedKFold(n_splits=5,random_state=1,shuffle=True)
skf.get_n_splits(X,y)
for train_index,test_index in skf.split(X,y):
    x1_train,x1_test=X.iloc[train_index],X.iloc[test_index]
    y1_train,y1_test=y.iloc[train_index],y.iloc[test_index]
    model=LogisticRegression(random_state=1)
    model.fit(x1_train,y1_train)
    predict=model.predict(x1_test)
    pred=model.predict_proba(x1_test)[:,1]
    
    score=accuracy_score(predict,y1_test)
    accuracy.append(score)
    

print(accuracy)

[0.7804878048780488, 0.8292682926829268, 0.7804878048780488, 0.8211382113821138, 0.8032786885245902]

In [26]:
logistic=np.array(accuracy).mean()

In [27]:
logistic

0.8029321604691457

In [28]:
from joblib import dump

In [29]:
dump(model,'./../savedModels/preict_loan.joblib')

['./../savedModels/preict_loan.joblib']